.popup__submit {
  margin: 46px 0 36px 36px;
  padding: 0;
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  line-height: 22px;
}

@media screen and (max-width: 600px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    margin: 44px 0 25px 22px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.popup__submit:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.popup_type-delete .popup__submit {
  margin-top: 12px;
}
