.elements__element {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 100%;
  row-gap: 0px;
  max-width: 550px;
}