.content {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 19px;
  padding-right: 19px;
  min-height: calc(100vh - 78px);
}

@media screen and (max-width: 690px) {
  .content {
    min-height: calc(100vh - 50px);
  }
}